header{
    width:100%;
     height:100vh;
     background-image: url(joshua-earle--87JyMb9ZfU-unsplash.jpg);
     background-size: cover;
     font-family: 'sans-serif';
}
nav{
    width:100%;
    height:100px;
    color:chocolate;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2.5em;
    letter-spacing: 2.4px;
}
.menu a{
    text-decoration: none;
    color: chocolate;
    padding: 10px 20px;
    font-size: 21px;
    position: relative;
}
.menu a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0%;
    height: 100%;
    border-bottom:1.9px ;
    border-bottom-style: solid;
    border-bottom-color: coral;
    transition: 0.4s linear;
}
.menu a:hover::before
{
    width:90%;
}

.register a{
    text-decoration: none;
    color:blueviolet;
    background-color: coral;
    padding: 10px 20px;
    font-size: 21px;
border-radius:9px ;
transition: 0.4s;

}
.register a:hover{
    background: transparent;
    border: 1.2px solid coral;
}
.head-text{
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-55%);
    text-align: center;

}
.head-text span{
    letter-spacing: 4.8px;
}
.head-text h1{
    font-size: 50px;
}
.head-text a{
text-decoration: none;
background-color: coral;
color: darkblue;
padding: 9px 18px;
letter-spacing:4.8px ;
transition: 0.4s;
}
.head-text a:hover{
background: transparent;
border:1px solid coral
}
